.app {
  width: 98vw;
  height: 100vh;
  overflow: scroll; /* Hide the scrollbar */
}

/* Customize scrollbar for webkit-based browsers */
.app::-webkit-scrollbar {
  width: 0; /* Remove default scrollbar width */
}

.app::-webkit-scrollbar-track {
  background: transparent; /* Set track color */
}

.app::-webkit-scrollbar-thumb {
  background: transparent; /* Set thumb color */
}

.video-background {
  object-fit: cover;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ddd; /* Change this to the desired background color */
}

.storyline-container2 {
  margin-top: 20px;
  text-align: center;
}
