.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #ffdca5;
}

.video-background {
  object-fit: cover;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ddd; /* Change this to the desired background color */
}

.storyline-container2 {
  margin-top: 20px;
  text-align: center;
}
