:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1 {
  color: white; /* Fallback: assume this color ON TOP of image */
  background: url("https://static.vecteezy.com/system/resources/thumbnails/023/487/286/small/illustration-of-gaming-background-abstract-cyberpunk-style-of-gamer-wallpaper-neon-glow-light-of-sci-fi-glowing-iridescent-neon-lights-for-both-light-and-dark-backgrounds-generative-ai-photo.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px; /* Adjust font size for mobile */
  }
}
@keyframes moveLeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(
      calc(100vw - 100%)
    ); /* Adjust the animation to stop within screen width */
  }
}

.home-container h1 {
  animation: moveLeftToRight 15s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content; /* Adjust the width to fit the text */
}

/* Style for overlay text */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  font-family: Arial, sans-serif;
}

.overlay-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.overlay-text p {
  font-size: 18px;
  line-height: 1.5;
}

.canvas-container {
  height: 100vh;
}

.canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.storyline {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 20px;
  background-color: "transperent"; /* Black with 50% opacity */
  color: whitesmoke;
  border-radius: 5px;
}

.storyline h2 {
  margin-bottom: 10px;
}

.scroll-top-btn {
  position: fixed; /* Fixed position to keep it in place */
  bottom: 20px; /* Adjust bottom space */
  right: 20px; /* Adjust right space */
  z-index: 999; /* Set a high z-index to ensure it's above other elements */
}
